<mat-toolbar id="menu" color="primary">
  <button mat-flat-button color="primary"
          routerLink="/home"
          routerLinkActive="selected">
    <img id="logo" src="../../assets/img/angular-white.svg" alt="">
    <span>CRUD Example App</span>
  </button>
  <button mat-flat-button color="primary" routerLink="users" routerLinkActive="selected">
    <span class='material-icons'>group</span> Users
  </button>
  <button mat-flat-button color="primary" routerLink="contact" routerLinkActive="selected">
    <span class='material-icons'>phone</span>
    Contact
  </button>
</mat-toolbar>
