.mat-dialog-content {
  //display: flex;
  //justify-content: space-around;
  //flex-wrap: wrap;
  //flex-direction: row;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mat-form-field {
  width: 48%
}
